.Draggable > div {
  height: 100%;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  /* line-height: 90px; */
  padding-left: 32px;
  font-size: 14.5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Draggable > div:nth-child(1) {
  background: linear-gradient(0deg, #f6d365 0%, #fda085 60%);
}
.Draggable > div:nth-child(2) {
  background: linear-gradient(86deg, #f093fb 0%, #f5576c 100%);
}
.Draggable > div:nth-child(3) {
  background: linear-gradient(75deg, #5ee7df 0%, #b490ca 100%);
}
.Draggable > div:nth-child(4) {
  background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
}