p{
    margin-top: auto !important;
    margin-bottom:auto !important;
}

.toolbar-fixed .toolbar{
    z-index: 111!important;
}
.aside-enabled.aside-fixed.header-fixed .header{
    z-index: 112!important;
}
.aside-fixed .aside{
    z-index: 115!important;
} 
.drawer {
    z-index: 115!important;
} 